.upload-image-panel {
    margin: 80px auto 0 auto;
    max-width: 600px;
    text-align: center;
}

.home-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #333;
}

.home-subtitle {
    font-size: 18px;
    color: #666;
}

